<script>
    function ShowNoPowerModal(hasDod) {
        $("#NoPowerModal").modal("show");
        flexRadioDefault1.checked = !hasDod;
        flexRadioDefault2.checked = hasDod;
    }
</script>

<!-- Modal -->
<div class="modal fade" id="NoPowerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h4>
                    Unfortunately, we cannot make an offer on your device at this time
                </h4>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("TradeInCategory")">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        Back
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
