@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo Digital Agency | Porto - Multipurpose Website Template</title>

    <meta name="keywords" content="WebSite Template" />
    <meta name="description" content="Porto - Multipurpose Website Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/landing/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/landing/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/landing/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/landing/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/landing/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/Content/landing/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/Content/landing/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/landing/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/landing/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/landing/css/theme.css">
    <link rel="stylesheet" href="~/Content/landing/css/theme-elements.css">
    <link rel="stylesheet" href="~/Content/landing/css/theme-blog.css">
    <link rel="stylesheet" href="~/Content/landing/css/theme-shop.css">

    <!-- Revolution Slider CSS -->
    <link rel="stylesheet" href="~/Content/landing/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/Content/landing/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="~/Content/landing/vendor/rs-plugin/css/navigation.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="~/Content/landing/css/demos/demo-digital-agency.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="~/Content/landing/css/skins/skin-digital-agency.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/landing/css/custom.css">

    <!-- Head Libs -->
    <script src="~/Content/landing/vendor/modernizr/modernizr.min.js"></script>

    <style>
        .custom-page-header.page-header-modern {
            height: 100px;
        }
    </style>

</head>
<body>

    <div class="body">
        <header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': false, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
            <div class="header-body border-top-0 bg-dark box-shadow-none">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="index.html">
                                        <img alt="Porto" width="220" src="~/Content/landing/img/logo_white.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <div class="header-nav header-nav-links header-nav-line header-nav-bottom-line header-nav-bottom-line-active-text-light header-nav-dropdowns-dark header-nav-light-text">
                                    <div class="header-nav-main header-nav-main-text-capitalize header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                        <nav class="collapse">
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li>
                                                    <a class="nav-link" href="demo-digital-agency.html">
                                                        Home
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="demo-digital-agency-about.html">
                                                        About
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="nav-link active" href="demo-digital-agency-services.html">
                                                        Services
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="demo-digital-agency-work.html">
                                                        Work
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean social-icons-icon-light social-icons-medium ms-5-5">
                                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">

            <section class="page-header page-header-modern bg-primary custom-page-header">
            </section>

            <div class="container py-4 my-0">
                <div class="row">
                    <div class="col">

                        <div class="text-center pb-3">
                            <h1 class="text-color-dark font-weight-bold mb-1">
                                Data Destruction
                            </h1>
                            <h3 class="mb-0">
                                3 Step Approach Data Erasure
                            </h3>
                        </div>

                        <p class="text-center text-4">All three purge methods are used:</p>
                        <p class="mt-5 mb-5 text-center">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                    <span class="box-content p-0 m-0">
                                        <img src="~/Content/landing/img/services/DataDestruction2020.png" class="img-fluid" alt="" />
                                    </span>
                                </span>
                            </span>
                        </p>



                    </div>
                </div>
            </div>


            <div class="container my-0 p-lg-5 pr-5 pt-0 pb-0">
                <div class="row">
                    <div class="col">
                        <p class="text-center text-4 font-weight-bold" style="width: 60%;margin: 0 auto;"><i>You will receive reporting on the outcome of each step as well as each change in the chain of custody. 100% transparency.</i></p>

                        <p class="text-center text-2 mt-5" style="width: 60%;margin: 0 auto;">PlanITROI Follows NIST SP800-88</p>
                        <p class="text-center text-2 mt-0" style="width: 80%;margin: 0 auto;"><a href="https://static.spacecrafted.com/cddb16080b58411282627602574a984a/r/d0c98d1999f942d7b7b48ad6a0bfad15/1/sp800_88_r1_draft.pdf.pdf" target="_blank"><i>NIST 800-88 Guidelines for Media Sanitization Per Table A-8 Flash-Based Storage Devices (SSD) - page #’s 32 to 34</i></a></p>

                        <p class="mt-5 mb-5 text-center">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                    <span class="box-content p-0 m-0">
                                        <img src="~/Content/landing/img/services/nist.png" class="img-fluid" width="300" alt="" />
                                    </span>
                                </span>
                            </span>
                        </p>

                    </div>
                </div>
            </div>

            <h1 class="text-primary font-weight-bold mb-3 text-center">
                Secure Steps To Data Destruction
            </h1>

            <section class="section section-parallax section-height-3 overlay overlay-show overlay-op-8 border-0 m-0 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-plugin-parallax="" data-plugin-options="{'speed': 1.1, 'parallaxHeight': '50%'}" data-image-src="/Content/landing/img/services/dataErasureHeader.jpg" style="position: relative; overflow: hidden; animation-delay: 100ms;">
                <div class="parallax-background" style="background-image: url(&quot;/Content/landing/img/services/dataErasureHeader.jpg&quot;); background-size: contain; position: absolute; top: 0px; left: 0px; width: 100%; height: 200%; transform: translate3d(0px, -50px, 0px); background-position-x: 50%;"></div>
                <div class="container">
                    <div class="row">
                        <div class="col d-flex justify-content-center">

                            <div class="mt-4 mt-md-0 col-md-6">
                                <p class="text-4 line-height-7 text-color-light"><span class="text-primary text-6">1. </span>Client Securely Transfers Media to Tech Trade Up in a locked bin for Destruction. Media can be (Hard Drives, Tapes, Memory, etc.). </p>
                                <hr class="bg-color-white" />
                                <p class="text-4 line-height-7 text-color-light"><span class="text-primary text-6">2. </span>Tech Trade Up then Degausses Media as its removed from Bin to ensure Data has been eradicated using NIST approved Degasser.</p>
                                <hr class="bg-color-white" />
                                <p class="text-4 line-height-7 text-color-light"><span class="text-primary text-6">3. </span>Client Securely Transfers Media to Tech Trade Up in a locked bin for Destruction. Media can be (Hard Drives, Tapes, Memory, etc.). </p>
                                <hr class="bg-color-white" />
                                <p class="text-4 line-height-7 text-color-light"><span class="text-primary text-6">4. </span>Tech Trade Up then shreds all Media to NIST level shredding.</p>
                                <hr class="bg-color-white" />
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-height-3 bg-color-grey-scale-0 border-0 m-0">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-2 text-start">
                            <img src="~/Content/landing/img/services/checkmark.png" class="img-fluid">
                        </div>
                        <div class="col-lg-10 mb-4 mb-lg-0 text-end">
                            <p class="text-4-5 mb-0" style="text-align: left;">
                                Process can be performed at <span class="font-weight-bold">Tech Trade Up</span> owned facility, Partner facilities, Client facilities or Mobile secure trucks with video for proof. Tech Trade Up provides degaussers and secure media bins at our clients locations.

                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-parallax section-height-5 border-0 m-0 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-plugin-parallax="" data-plugin-options="{'speed': 1.1, 'parallaxHeight': '100%'}" data-image-src="/Content/landing/img/services/footer-services2.jpeg" style="position: relative; overflow: hidden; animation-delay: 100ms;">
                @*<div class="parallax-background" style="background-image: url(&quot;/Content/landing/img/services/footer-services2.jpeg&quot;); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; transform: translate3d(0px, -89.2843px, 0px); background-position-x: 50%;"></div>*@
                <div class="parallax-background" style="background-image: url(&quot;/Content/landing/img/services/footer-services2.jpeg&quot;); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 200%; transform: translate3d(0px, -50px, 0px); background-position-x: 0%;"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 class="mt-4 mb-0 pb-0 text-color-light">
                            </h3>
                            <div class="divider divider-primary divider-small my-3">
                                &nbsp;
                            </div>

                            <p class="lead font-weight-regular text-4 text-color-light" style="max-width: 60%">&nbsp;</p>

                        </div>
                    </div>
                </div>
            </section>

        </div>

        <footer id="footer" class="mt-0">
            <div class="container py-5 my-4">
                <div class="row gy-4">
                    <div class="col-lg-2 align-self-center mb-4 mb-lg-0">
                        <a href="index.html" class="text-decoration-none">
                            <img src="~/Content/landing/img/logo_white.png" width="125" height="35" class="img-fluid" alt="Footer Logo" />
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="font-weight-bold text-color-light">Contact us for:</h4>
                        <p class="text-3-5">
                            Program Details & Quotes<br>
                            Product Pick-Up/Logistics/Status<br>
                            Reporting<br>
                            Marketing Materials or Sales Calls<br>
                            Phone: <a href="tel:18883972444" class="text-decoration-none">1-888-397-2444</a><br>
                            Email: <a href="mailto:techtradeup@planitroi.com" class="text-decoration-none">techtradeup@planitroi.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright bg-color-dark-scale-2">
                <div class="container py-2">
                    <div class="row py-4">
                        <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-lg-0">
                            <p class="text-color-grey text-3-5">© Copyright 2023 PlanITROI, Inc. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-8 d-flex align-items-center justify-content-center justify-content-md-end mb-4 mb-lg-0">
                            <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light social-icons-big">
                                <li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/planitroi" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor -->
    <script src="~/Content/landing/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Content/landing/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/Content/landing/js/views/view.contact.js"></script>

    <!-- Theme Custom -->
    <script src="~/Content/landing/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Content/landing/js/theme.init.js"></script>

</body>
</html>