@{
    Layout = "_Landing";
}

<!DOCTYPE html>
<body>
<div class="body">
<div role="main" class="main" id="home">

<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center custom-dots-style-1 dots-light show-dots-hover show-dots-xs show-dots-sm show-dots-md nav-style-1 nav-inside nav-inside-plus nav-light nav-lg nav-font-size-lg show-nav-hover bg-color-quaternary custom-slider-container mb-0" data-plugin-options="{'autoplay': false, 'autoplayTimeout': 7000}" data-dynamic-height="['780px','780px','780px','780px','510px']" style="height: 780px;">
    <div class="owl-stage-outer">
        <div class="owl-stage">
            <!-- Carousel Slide 1 -->
            <div class="owl-item position-relative overflow-hidden">
                <img src="~/Content/landing/img/main.jpg" class="img-fluid custom-bg-slider-right" alt=""/>
                <div class="custom-svg-style-1 svg-fill-color-primary position-absolute top-0 left-50pct transform3dx-n50 h-100 z-index-0">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 799" xml:space="preserve" preserveAspectRatio="none" width="100%" height="100%" data-plugin-float-element-svg="true">
                        <path id="svg_1" d="m803,799c-0.65,-17.51 -0.69,-41.58 2,-70c7.66,-80.82 31.97,-139.52 47,-175c30.86,-72.87 67.88,-124.83 89,-152c17.86,-22.98 84.33,-105.42 201,-174c34.75,-20.42 121.02,-67.28 243,-90c48.07,-8.95 141.2,-21.52 256,-4c123.54,18.85 208.91,62.88 228,73c21.42,11.35 38.74,22.03 51,30c0,-79 0,-158 0,-237c-640,0 -1280,0 -1920,0c0,266.33 0,532.67 0,799c267.67,0 535.33,0 803,0z" fill="#48C97F"/>
                        <circle id="svg_2" r="7.5" cy="539.5" cx="209.5" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
                        <circle id="svg_3" r="12" cy="211" cx="268" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.4, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
                        <circle id="svg_4" r="17" cy="144" cx="1864" fill="#FFF" opacity="0.2" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.6, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
                        <path id="svg_5" d="m982,356c24.33,-22.33 48.67,-44.67 73,-67c-1.91,-2.73 -5.1,-6.6 -10,-10c-7.11,-4.93 -13.93,-6.15 -19,-7c-5.42,-0.91 -14.32,-2.3 -25,1c-4.46,1.38 -16.54,5.83 -25,18c-5.85,8.41 -7.29,16.65 -8,21c-0.51,3.13 -1.54,9.79 0,18c2.48,13.19 10.04,22.01 14,26z" fill="#FFF" opacity="0.2" style="fill: #FFF !important;"/>
                        <circle id="svg_6" r="28.5" cy="326.74992" cx="327.75073" stroke-miterlimit="10" stroke-width="3" stroke="6CD499" fill="none"/>
                        <circle opacity="0.2" stroke="#ffffff" id="svg_8" r="21.5" cy="340.25" cx="90.74976" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}"/>
                        <circle stroke="#ffffff" opacity="0.2" id="svg_9" r="14.625" cy="689.625" cx="128.87476" fill="none" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': true}"/>
                    </svg>
                </div>
                <div class="container position-relative h-100 z-index-1 mt-4">
                    <div class="row align-items-center h-100">
                        <div class="col mb-5-5 mb-sm-0">
                            <div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="400">
                                <span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-2">Maximize</span>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="600">
                                <span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold opacity-5">Maximize</span>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="800">
                                <span class="d-block custom-stroke-text-effect-1 custom-big-text-2 font-weight-bold">Maximize</span>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="1000">
                                <h1 class="text-color-light font-weight-bold positive-ls-3 custom-big-text-1 line-height-1 mb-0">Maximize</h1>
                            </div>
                            <p class="text-color-light font-weight-bold text-7 text-sm-9 ms-2 mb-0 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="1200">Your Tech Profits with us</p>
                            <div class="container text-center py-5">
                                <a class="btn btn-light btn-modern btn-rounded px-5 btn-py-3 text-4 appear-animation animated fadeIn appear-animation-visible" asp-area="Identity" asp-page="/Account/Login">LET'S TRADE IN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container my-4 py-4" id="howitworks">
    <div class="row">
        <div class="col">
            <h3>
                How it works?
            </h3>
            <p class="font-weight-bold positive-ls-3 text-4-5 mb-0">
                Turn your used devices into cash in just five easy steps!
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">

            <div class="tabs tabs-bottom tabs-center tabs-simple custom-tabs-style-1">
                <ul class="nav nav-tabs">
                    <li class="nav-item w-20">
                        <a class="nav-link pb-2 active" href="#" data-bs-toggle="tab">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                    <span class="box-content p-0 m-0">
                                        <img width="90" height="90" src="~/Content/landing/img/steps/1createyourprofile.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'px-2 py-4'}"/>
                                        <h4 class="positive-ls-3 font-weight-bold text-3">1. Set up your account and pick up location</h4>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-20">
                        <a class="nav-link pb-2" href="#" data-bs-toggle="tab">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                    <span class="box-content p-0 m-0">
                                        <img width="90" height="90" src="~/Content/landing/img/steps/2registeryourassets.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'px-2 py-4'}"/>
                                        <h4 class="positive-ls-3 font-weight-bold text-3">2. Provide us information about your equipment following our easy online form</h4>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-20">
                        <a class="nav-link pb-2" href="#" data-bs-toggle="tab">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                    <span class="box-content p-0 m-0">
                                        <img width="90" height="90" src="~/Content/landing/img/steps/3getpay.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'px-2 py-4'}"/>
                                        <h4 class="positive-ls-3 font-weight-bold text-3">3. Receive review and sign your personal quote</h4>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-20">
                        <a class="nav-link pb-2" href="#" data-bs-toggle="tab">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                    <span class="box-content p-0 m-0">
                                        <img width="90" height="90" src="~/Content/landing/img/steps/4settlementreport.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'px-2 py-4'}"/>
                                        <h4 class="positive-ls-3 font-weight-bold text-3"> 4. Our team will receive and assess your equipment </h4>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-20">
                        <a class="nav-link pb-2" href="#" data-bs-toggle="tab">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                    <span class="box-content p-0 m-0">
                                        <img width="90" height="90" src="~/Content/landing/img/steps/5profit.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'px-2 py-4'}"/>
                                        <h4 class="positive-ls-3 font-weight-bold text-3">5. Receive your payment using your prefer method</h4>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<section class="section section-height-3 bg-color-grey-scale-1 border-0 m-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 text-md-center text-lg-start mb-4 mb-lg-0">
                <h2 class="text-color-dark font-weight-bold mb-1">Tech Trade Up has everything you need to sell used equipment!</h2>
                <p class="font-weight-bold positive-ls-3 text-4-5 mb-0">Make a trade today and get paid with our easy online form.</p>
            </div>
            <div class="col-lg-3 text-center text-lg-end">
                <a class="btn btn-light btn-modern btn-rounded px-5 btn-py-3 text-4 appear-animation animated fadeIn appear-animation-visible" asp-area="Identity" asp-page="/Account/Login">LET'S TRADE IN</a>
            </div>
        </div>
    </div>
</section>

<section class="container py-5 my-4 border-0 position-relative py-0" id="whoweare">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="h-100 m-0">
                    <div class="row m-0">
                        <div class="ms-auto py-5">
                            <div class="px-3 py-5">
                                <h2 class="font-weight-bold text-color-dark text-9 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="200">Who are we?</h2>
                                <p class="text-4-5 line-height-7 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400">Tech Trade Up buys devices in good condition at competitive prices. Our quote system makes it easy and convenient to sell your devices. We purchase directly from client and offer a simple solution for those who want to sell their devices. With Tech Trade Up, you can get <b class="highlight-animated px-0" data-appear-animation="highlight-animated-start" data-appear-animation-delay="800" data-plugin-options="{'flagClassOnly': true}">more value</b> for your used devices while enjoying a hassle-free selling experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-height-3 bg-dark border-0 m-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
    <div class="container">
        <div class="row justify-content-center appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="800">
            <div class="col-lg-10">
                <div class="owl-carousel owl-theme nav-bottom rounded-nav dots-light custom-dots-style-1 mb-0" data-plugin-options="{'items': 1, 'loop': false}">
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-light mb-4">
                            <div>
                                <p class="text-color-light opacity-7 text-5 line-height-5 mb-0">Tech Trade Up is designed to provide maximum return on retired Technology Assets. Explore our services below: </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row pb-lg-2 counters">
            <div class="col-sm-6 col-lg-2 offset-lg-1 counter mb-5 mb-md-0 mt-5">
                <div class="appear-animation animated fadeInLeftShorter appear-animation-visible cur-pointer d-flex flex-column h-100" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="400" data-appear-animation-duration="400" style="animation-delay: 400ms;">
                    <a class="anim-hover-scale-1-2 transition-3ms d-inline-block" asp-action="EnvironmentalAdvocacy" asp-controller="Landing">
                        <img class="lazyload img-fluid" alt="Speed Performance" width="90" src="~/Content/landing/img/services/EnvironmentalAdvocace.png">
                    </a>
                    <label class="font-weight-semibold negative-ls-1 text-color-white mb-0 mt-4">Environmental Advocacy</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2 counter mb-5 mb-md-0 mt-5">
                <div class="appear-animation animated fadeInLeftShorter appear-animation-visible cur-pointer d-flex flex-column h-100" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="450" data-appear-animation-duration="400" style="animation-delay: 400ms;">
                    <span class="anim-hover-scale-1-2 transition-3ms d-inline-block">
                        <img class="lazyload img-fluid" alt="Speed Performance" width="90" src="~/Content/landing/img/services/PeaceofMind.png">
                    </span>
                    <label class="font-weight-semibold negative-ls-1 text-color-white mb-0 mt-4">Peace of Mind</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2 counter mb-5 mb-md-0 mt-5">
                <div class="appear-animation animated fadeInLeftShorter appear-animation-visible cur-pointer d-flex flex-column h-100" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500" data-appear-animation-duration="400" style="animation-delay: 400ms;">
                    <span class="anim-hover-scale-1-2 transition-3ms d-inline-block">
                        <img class="lazyload img-fluid" alt="Speed Performance" width="90" src="~/Content/landing/img/services/GreeGloveService.png">
                    </span>
                    <label class="font-weight-semibold negative-ls-1 text-color-white mb-0 mt-4">Green Glove Services</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2 counter mb-5 mb-md-0 mt-5">
                <div class="appear-animation animated fadeInLeftShorter appear-animation-visible cur-pointer d-flex flex-column h-100 justify-content-between" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="550" data-appear-animation-duration="400" style="animation-delay: 400ms;">
                    <span class="anim-hover-scale-1-2 transition-3ms d-inline-block">
                        <img class="lazyload img-fluid" alt="Speed Performance" width="90" src="~/Content/landing/img/services/highesttradeinvalue.png">
                    </span>
                    <label class="font-weight-semibold negative-ls-1 text-color-white mb-0 mt-4">Highest Trade-In Value</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2 counter mb-5 mb-md-0 mt-5">
                <div class="appear-animation animated fadeInLeftShorter appear-animation-visible cur-pointer d-flex flex-column h-100" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="600" data-appear-animation-duration="400" style="animation-delay: 400ms;">
                    <span class="anim-hover-scale-1-2 transition-3ms d-inline-block">
                        <img class="lazyload img-fluid" alt="Speed Performance" width="90" src="~/Content/landing/img/services/GetPaidGiveBack.png">
                    </span>
                    <label class="font-weight-semibold negative-ls-1 text-color-white mb-0 mt-4">Get Paid Give Back</label>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container py-5 my-4">
    <div class="row counters text-dark">
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <div class="counter">
                <strong class="text-13 mb-1">20+</strong>
                <label class="font-weight-medium text-4-5 opacity-5">Year in business</label>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <div class="counter">
                <strong class="text-13 mb-1">2,000+</strong>
                <label class="font-weight-medium text-4-5 opacity-5">Satisfied Clients</label>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 mb-sm-0">
            <div class="counter">
                <strong class="text-13 mb-1">1,000,000+</strong>
                <label class="font-weight-medium text-4-5 opacity-5">Devices Trade-in</label>
            </div>
        </div>
    </div>
</div>

</div>

</div>

<footer id="footer" class="mt-0">
    <div class="container py-5 my-4">
        <div class="row gy-4">
            <div class="col-lg-2 align-self-center mb-4 mb-lg-0">
                <a href="index.html" class="text-decoration-none">
                    <img src="~/Content/landing/img/logo_white.png" width="125" height="35" class="img-fluid" alt="Footer Logo"/>
                </a>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-color-light">Contact us for:</h4>
                <p class="text-3-5">
                    Program Details & Quotes<br>
                    Product Pick-Up/Logistics/Status<br>
                    Reporting<br>
                    Marketing Materials or Sales Calls<br>
                    Phone: <a href="tel:18883972444" class="text-decoration-none">1-888-397-2444</a><br>
                    Email: <a href="mailto:techtradeup@planitroi.com" class="text-decoration-none">techtradeup@planitroi.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-color-dark-scale-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-lg-0">
                    <p class="text-color-grey text-3-5">© Copyright 2023 PlanITROI, Inc. All Rights Reserved.</p>
                </div>
                <div class="col-md-8 d-flex align-items-center justify-content-center justify-content-md-end mb-4 mb-lg-0">
                    <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light social-icons-big">
                        <li class="social-icons-linkedin">
                            <a href="https://www.linkedin.com/company/planitroi" target="_blank" title="Linkedin">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Vendor -->
<script src="~/Content/landing/vendor/plugins/js/plugins.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="~/Content/landing/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="~/Content/landing/js/views/view.contact.js"></script>

<!-- Theme Custom -->
<script src="~/Content/landing/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/Content/landing/js/theme.init.js"></script>

</body>